table {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: small;
}

.mask_date {
    text-align: center;
}